body{
  margin:0;
}
p{
  margin-left:5px;
}
.container{
  display:flex;
  width:100%;
  height:100vh;
}
.left,.right{
  height:100%;
  flex-direction: column;
  border: 2px solid black;
  margin: 2px;

}
.left{
  width:33%;
  background-color: rgb(255, 255, 255);
}
.right{
  width:100%;
  background-color: rgb(255, 255, 255);
}
