div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
span {
    font-family: 'Saira Stencil One', cursive;
    display: flex;
    font-weight: bold;
    font-size: 80px;
    color: #EBEBEB;
}