body{
  margin:0;
  font-family: 'Inconsolata', monospace;

}
p{
  margin-left:5px;
}
.container{
  display:flex;
  width:100%;
  min-height:100%;
}
.left,.right{
  min-height:100vh;
  flex-direction: column;

}
.left{
  width:400px;
  background-color: #181818;
}
.right{
  width:100%;
  background-color: rgb(20, 20, 20);
}
ul{
  padding-left:20px;
}
li{
  list-style: none;
  color:rgb(62, 127, 225);
  font-size: 1.1rem;
  margin: 0;
  padding: 4px;
  text-shadow: 2px 2px black;
  cursor: pointer;
}
li:hover,.liSelected{
  font-weight: bold;
  color:rgb(180, 210, 255);
}
.section{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.646);
  color: whitesmoke;
}
#overveiw{
  margin-top: 30px
}
.block{
  height: 200px;
  background-color: rgba(0, 0, 0, 0.646)
}
.block img{
  width:100%;
  margin-bottom: 100px;
}
.right .block{
  background-color: #181818;
  text-shadow: 2px 2px black;
}
#title,#subtitle{
  margin-left:50px;
}
#title{
  font-family: 'Righteous', cursive;
  padding-top: 30px;
  color:whitesmoke;
  font-size:4rem;
  font-weight: bold;
}
#subtitle{
  color:whitesmoke;
  font-size:1.3rem;
}
#rightContents{
  font-family: 'Bree Serif', serif;
  padding-top: 10px;
  margin-right:400px;
  color:whitesmoke;
  text-shadow: 2px 2px rgb(75, 75, 75);
}
.contents{
  margin-left: 50px;
}
.underline{
  height:2px;
  background-color: rgb(131, 131, 131);
}
#sectionContainer{
  flex-direction: column;
  overflow: auto;
}
